

  <div class="new"><img src="https://iq-body.ru/images/lp-individual/how-to-start/xhow-to-start.png.pagespeed.ic.iSLNqrCBgV.webp">
  <div><h4> Как начать заниматься?</h4>
 <ol class="pills">
<li>Выберите программу</li>
<li>Войдите или зарегистрируйтесь</li>
<li>Нажмите на "Купить"</li>
<li>Получите свою программу</li>
 </ol> </div></div>
    <h4>Зачем тебе это нужно?</h4>
    <div class="video-container">
        <iframe width="296.3" height="150" src="https://www.youtube.com/embed/wWGulLAa0O0" frameborder="0" allowfullscreen></iframe>
      </div>
 
    
    